[Unit]
Description=Poll

[Service]
Environment=REDIS_HOST=165.22.30.223
ExecStart=python3 /home/poll/app.py
Restart=always

[Install]
WantedBy=multi-user.target
