[Unit]
Description=Poll

[Service]
EnvironmentFile=/home/poll/.env
ExecStart=python3 /home/poll/app.py
Restart=always

[Install]
WantedBy=multi-user.target
